* {
	border: none;
	border-radius: 10;
        font-family: "Droid Sans Font, Font Awesome, Roboto, FreeSans, FreeSerif" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
        color: transparent;
	background: transparent;
}

#mode {
    color: #ff5555;
}

#workspaces button {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
        background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: #282a36;
}

#workspaces button.active {
	background-color: #ff79c6;
	color: #282a36;
}


#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #282a36;
	background: #50fa7b;
}

#bluetooth {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#battery.charging, #battery.plugged {
	color: #f8f8f2;
    background-color: #282a36;
}

#battery.critical:not(.charging) {
    background-color: #282a36;
    color: #f8f8f2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #282a36;
        color: #f8f8f2;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}
#clock {
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 8px;
	padding-right: 3px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: transparent;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#tray {
	margin-top: 6px;
	margin-left: 28px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #5d4185;
}

#disk {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#temperature {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#idle_inhibitor {
	margin-top: 6px;
	margin-left: 1px;
	padding-left: 1px;
	padding-right: 6px;
	margin-bottom: 0px;
	border-radius: 10px;
}

#idle_inhibitor.activated {
    color: #50fa7b;
}

#custom-vpn {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#custom-weather {
	margin-top: 6px;
	margin-left: 3px;
	padding-left: 3px;
	padding-right: 6px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: transparent;
}

#custom-weather.severe {
    color: #ff5555;
}

#custom-weather.sunnyDay {
    color: #f1fa8c;
}

#custom-weather.clearNight {
    color: #bd93f9;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #9599b4;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #8be9fd;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #8be9fd;
}

#custom-weather.default {
    color: #f8f8f2;
}

#custom-gpu-usage {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}
#mpris {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 6px;
	margin-right: 6px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
	background: #282a36;
}
#custom-scratchpad-indicator {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
	background: #6272a4;
}
#custom-power {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 0px;
	margin-right: 6px;
	border-radius: 10px;
	transition: none;
	color: #282A36;
	background: #FF5555;
}
#custom-lock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #282A36;
	background: #FFB86C;
}
#custom-reboot {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #282A36;
	background: #8BE9FD;
}
#custom-pacman {
	margin-top: 6px;
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f2f2;
	background: transparent;
}

