#window {
margin: 0px;
border: 2px solid #bd93f9;
/* background-color: #282a36; */
background: rgba(40, 42, 54, 0.8);
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #44475a;
}

#inner-box {
margin: 5px;
border: none;
/* background-color: #282a36; */
background: transparent;
}

#outer-box {
margin: 5px;
border: none;
/* background-color: #282a36; */
background: transparent;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
font-size: 16px;
} 

#entry:selected {
background-color: #44475a;
}
